.info {
  color: #003380;
  border: 2px solid #2a7fff;
  padding: 0.8em;
  background: #aaccff;
  margin-bottom: 1em; }

#content {
  margin: 5px 0 30px 0; }
  #content form select {
    margin: 0;
    font-size: 11px; }
  #content form input {
    margin: 0;
    font-size: 11px; }
  #content #content-menu {
    margin: 0 0 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #aaccff; }
    #content #content-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      #content #content-menu ul li {
        float: left;
        display: block;
        padding: 0 5px; }
        #content #content-menu ul li a {
          color: #5599ff;
          text-decoration: none; }
          #content #content-menu ul li a:hover, #content #content-menu ul li a.selected {
            color: #e17009;
            border-bottom: 1px dotted #e17009; }
  #content #content-table table tr th {
    color: #dddddd;
    padding: 3px 0;
    background: #444444;
    text-align: center;
    margin-right: 1px; }
    #content #content-table table tr th a {
      color: #dddddd;
      text-decoration: none; }
  #content #content-table table tr td {
    padding: 3px 5px;
    text-align: center;
    border-bottom: 1px solid #2a7fff; }
    #content #content-table table tr td a {
      color: black;
      text-decoration: none; }
      #content #content-table table tr td a:hover {
        color: #d5e5ff;
        border-bottom: 1px dotted #d5e5ff; }
  #content #content-table table tr:hover {
    color: #d5e5ff;
    background: #2a7fff; }
  #content #content-table table .row0 {
    background: #d5e5ff; }
  #content #content-table table .row1 {
    background: #aaccff; }
  #content .content-info {
    border: 1px solid #79b7e7;
    background: #fcfdfd;
    position: relative;
    margin-bottom: 1px;
    padding-bottom: 10px; }
    #content .content-info:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      overflow: hidden; }
    #content .content-info h3 {
      display: block;
      color: #e17009;
      cursor: hand;
      margin: 0 0 2px 0;
      padding: 0.6em 0em;
      font-size: 1em;
      font-weight: 700;
      overflow: hidden;
      background-color: #f5f8f9;
      line-height: 1.3;
      font-weight: bold; }
      #content .content-info h3 .image {
        padding: 0;
        float: left;
        width: 16px;
        height: 16px;
        display: block;
        overflow: hidden;
        margin: 0.5px 0.75em;
        background-image: url(redmond/images/ui-icons_f9bd01_256x240.png);
        background-repeat: no-repeat; }
    #content .content-info div {
      padding: 5px 10px; }
    #content .content-info p {
      height: 100%;
      margin: 0 5px 1px 5px;
      padding: 5px;
      position: relative;
      text-indent: 0;
      border-bottom: 1px solid #dddddd; }
      #content .content-info p:hover {
        background: #eeeeee; }
      #content .content-info p input, #content .content-info p textarea {
        float: left;
        font-size: 1em;
        margin-right: 10px; }
        #content .content-info p input.required, #content .content-info p textarea.required {
          border: 1px solid #ff8080; }
      #content .content-info p textarea {
        width: 300px;
        height: 10em; }
    #content .content-info ul {
      width: 100%;
      padding: 5px;
      margin: 0;
      list-style: none; }
      #content .content-info ul li {
        float: left;
        display: block;
        padding: 5px 5px 0px 5px; }
  #content #content-login {
    color: #0044aa;
    padding: 10px; }
    #content #content-login .text {
      color: #0044aa;
      border: 1px solid #80b3ff; }
    #content #content-login input[type=submit] {
      color: #0044aa;
      border: 1px solid #80b3ff;
      padding: 5px;
      font-weight: bold;
      margin-top: 10px; }
  #content .content-info1 {
    float: left;
    display: block;
    width: 160px;
    border: 1px solid #dddddd;
    height: 50px;
    margin: 5px;
    padding: 0px;
    text-align: center; }
    #content .content-info1 a {
      text-decoration: none; }
      #content .content-info1 a img {
        float: left;
        border: 0;
        margin: 0;
        display: block;
        padding: 0; }
    #content .content-info1 h4 {
      padding: 5px;
      font-size: 12px;
      background: #dddddd;
      text-align: center;
      margin-left: 55px;
      margin-bottom: 5px; }
    #content .content-info1:hover {
      background: #eeeeee; }
  #content .end {
    margin-right: 0; }

#header, #footer {
  color: #0055d4;
  padding: 5px 0;
  background: #aaccff;
  border-bottom: 1px solid #0066ff; }

#header #admin-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #header #admin-menu ul li {
    float: left;
    display: block;
    padding: 0 5px; }
    #header #admin-menu ul li a {
      color: #5599ff;
      text-decoration: none; }
      #header #admin-menu ul li a:hover, #header #admin-menu ul li a.selected {
        color: #e17009;
        border-bottom: 1px dotted #e17009; }

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  position: fixed;
  border-top: 1px solid #0066ff; }

.ui-accordion .ui-accordion-content {
  padding: 1em 1.25em; }
  .ui-accordion .ui-accordion-content p {
    padding: 10px;
    font-size: 12px;
    text-indent: 0;
    border-bottom: 1px solid #eeeeee; }
    .ui-accordion .ui-accordion-content p:hover {
      background: #eeeeee; }
  .ui-accordion .ui-accordion-content .end {
    border: 0;
    margin-bottom: 0; }
