body {
  background: #ffd42a url(../images/body-bg.png) repeat-x; }

#content #content-body {
  background: url(../images/bg.png) repeat-y;
  /* Feature contents */
  /* Right pane contents */ }
  #content #content-body #link {
    margin-bottom: 10px; }
    #content #content-body #link a {
      margin: 0;
      padding: 0; }
      #content #content-body #link a img {
        margin: 0;
        border: 0; }
  #content #content-body #search {
    padding-bottom: 10px; }
    #content #content-body #search input {
      border: 1px solid #c6c6c6;
      margin: 0px;
      padding: 3px 5px;
      font-size: 75%; }
    #content #content-body #search input[type=button] {
      border: 1px solid #c6c6c6;
      margin: 0px;
      padding: 3px 5px;
      font-size: 75%; }
    #content #content-body #search input[type=text] {
      color: #888888;
      background: url(../images/search.png) no-repeat;
      font-style: italic;
      padding-left: 23px; }
  #content #content-body .content-feature {
    margin-left: 10px;
    background: #ffdd55; }
    #content #content-body .content-feature:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      overflow: hidden; }
    #content #content-body .content-feature h4 {
      padding: 0 0 5px 10px;
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid #d4aa00; }
    #content #content-body .content-feature .content-feature-item {
      color: #806600;
      float: left;
      width: 100px;
      display: block;
      margin-top: 10px;
      margin-right: 15px;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      background-image: url(../images/100x100bg.png);
      background-repeat: no-repeat; }
      #content #content-body .content-feature .content-feature-item a img {
        margin: 10px 0 10px 0; }
    #content #content-body .content-feature p {
      margin: 0;
      padding: 10px; }
    #content #content-body .content-feature .start {
      margin-left: 12px; }
    #content #content-body .content-feature .end {
      margin-right: 0; }
  #content #content-body .content-list {
    height: 100%;
    margin-left: 10px;
    background: #ffdd55; }
    #content #content-body .content-list:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      overflow: hidden; }
    #content #content-body .content-list h4 {
      padding: 0 0 5px 10px;
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid #d4aa00; }
    #content #content-body .content-list ul {
      margin: 0 0 0 10px;
      padding: 0;
      font-size: 11px;
      list-style: none;
      display: block; }
      #content #content-body .content-list ul li {
        float: left;
        width: 150px;
        height: 114px;
        display: block;
        padding: 5px;
        margin: 5px;
        font-size: 1em;
        overflow: hidden;
        background: #ffe680;
        border-bottom: 5px solid #ffe680;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px; }
        #content #content-body .content-list ul li h4 {
          border: 0px;
          text-align: center; }
        #content #content-body .content-list ul li a {
          color: #2b0022;
          font-size: 11px;
          font-weight: bold;
          text-decoration: none; }
          #content #content-body .content-list ul li a img {
            float: left;
            padding: 4px 4px 0px 0px; }
        #content #content-body .content-list ul li a:hover {
          text-decoration: underline; }
  #content #content-body .content-feature-top {
    height: 10px;
    background: url(../images/content-feature-top.png) no-repeat;
    margin-left: 10px; }
  #content #content-body .content-feature-bottom {
    height: 10px;
    background: url(../images/content-feature-bottom.png) no-repeat;
    margin-left: 10px;
    margin-bottom: 10px; }
  #content #content-body .content-activity {
    float: left;
    width: 310px;
    margin: 5px 10px;
    padding: 10px;
    display: block;
    background-color: #ffe680;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    #content #content-body .content-activity a img {
      float: left;
      margin: 0 10px 0 0; }
    #content #content-body .content-activity h2 {
      color: black;
      margin: 0 0 5px 0;
      padding: 0 5px 5px 5px;
      border-bottom: 1px solid #806600;
      font-size: 1em;
      font-weight: bold; }
    #content #content-body .content-activity h3 {
      font-size: 1em;
      margin: 0 0 5px 0;
      padding: 0; }
      #content #content-body .content-activity h3 a {
        color: #806600;
        font-weight: bold;
        text-decoration: none; }
    #content #content-body .content-activity p {
      margin: 0;
      padding: 0;
      font-size: 1.5em; }
  #content #content-body .content-right {
    background: #ffdd55;
    margin-right: 10px;
    overflow: hidden; }
    #content #content-body .content-right:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      overflow: hidden; }
    #content #content-body .content-right h4 {
      padding: 0 0 5px 10px;
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid #d4aa00; }
    #content #content-body .content-right .content-right-item {
      margin: 0;
      padding: 10px; }
      #content #content-body .content-right .content-right-item a {
        color: #806600;
        font-size: 0.9em;
        font-weight: bold;
        text-decoration: none; }
        #content #content-body .content-right .content-right-item a:hover {
          text-decoration: underline; }
        #content #content-body .content-right .content-right-item a img {
          float: left;
          padding-right: 10px; }
  #content #content-body .content-right-top {
    height: 10px;
    background: url(../images/content-right-top.png) no-repeat; }
  #content #content-body .content-right-bottom {
    height: 10px;
    background: url(../images/content-right-bottom.png) no-repeat;
    margin-bottom: 10px; }
  #content #content-body .user-medal {
    margin-left: 20px; }
    #content #content-body .user-medal:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      overflow: hidden; }
    #content #content-body .user-medal .user-medal-info {
      margin: 10px;
      float: left;
      width: 200px; }
      #content #content-body .user-medal .user-medal-info h4 {
        color: #806600;
        margin: 0;
        padding: 5px;
        font-size: 1.25em;
        font-weight: bold;
        border-bottom: 1px solid #806600; }
      #content #content-body .user-medal .user-medal-info p {
        font-size: 2em;
        margin-bottom: 0; }
      #content #content-body .user-medal .user-medal-info img {
        float: left;
        margin-right: 10px; }

#play #play-info img {
  padding: 0 5px; }
#play #play-info h4 {
  font-weight: bold;
  border-bottom: 1px solid #d4aa00; }
#play #play-info p {
  font-size: 14px; }

/* Contains the login/register links */
#top {
  color: #ffaaee;
  padding: 5px 0;
  background: #aa0088;
  border-bottom: 1px solid #ff00cc;
  margin-bottom: 10px; }
  #top #top-details ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #top #top-details ul li {
      float: left;
      padding: 0 10px;
      display: block; }
      #top #top-details ul li a {
        color: #ffaaee;
        margin: 0;
        padding: 0;
        font-size: 11px;
        text-decoration: none; }
        #top #top-details ul li a:hover {
          border-bottom: 1px dotted #ffaaee; }
      #top #top-details ul li h4 {
        color: #ffaaee;
        margin: 1px 0 0 0;
        padding: 0;
        font-size: 11px; }
  #top .top-menu {
    padding: 0px; }
    #top .top-menu a {
      color: #ffaaee;
      font-size: 11px;
      text-decoration: none;
      padding-top: 2px;
      margin-right: 10px; }
      #top .top-menu a:hover {
        border-bottom: 1px dotted #ffaaee; }

#user .user-info {
  margin: 0 0 0 10px;
  font-size: 1.25em; }
  #user .user-info img {
    float: left;
    margin: 0 10px 0 0;
    padding: 0; }
#user .user-medals {
  margin: 0 0 0 10px; }

#header #header-top {
  background: url(../images/top.png) repeat-y center; }
#header #header-body {
  background: url(../images/bg.png) repeat-y;
  padding-bottom: 0; }
  #header #header-body #header-menu ul {
    float: right;
    margin: 0 10px 0 0;
    padding: 0 0 10px 0;
    list-style: none;
    border-bottom: 1px solid #ffe680; }
    #header #header-body #header-menu ul li {
      float: left;
      display: block;
      padding: 3px 5px;
      margin-right: 5px; }
      #header #header-body #header-menu ul li a {
        color: #806600;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none; }
      #header #header-body #header-menu ul li .selected, #header #header-body #header-menu ul li a:hover {
        color: #aa8800;
        border-bottom: 1px dotted #806600; }

#footer {
  margin-bottom: 20px; }
  #footer #footer-body {
    background: url(../images/bg.png) repeat-y;
    padding-top: 10px; }
    #footer #footer-body hr {
      width: 930px;
      margin-left: 10px;
      background: #d4aa00; }
    #footer #footer-body p {
      margin: 0;
      padding: 0 0 5px 15px;
      font-size: 80%;
      text-indent: 0; }
  #footer #footer-bottom {
    background: url(../images/footer-bottom.png) no-repeat;
    padding-bottom: 20px; }

#game-achievement {
  margin: 0 10px; }
  #game-achievement h3 {
    color: #806600;
    padding: 0 10px 5px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #806600; }
  #game-achievement .game-achievement-detail {
    float: left;
    width: 166px;
    padding: 0 5px;
    font-size: 1.75em;
    margin-right: 10px; }
    #game-achievement .game-achievement-detail h4 {
      color: #806600;
      padding: 5px 0 0 0;
      margin: 0 0 3px 0;
      font-size: 0.75em; }
    #game-achievement .game-achievement-detail img {
      float: left;
      width: 50px;
      height: 50px;
      padding: 5px 5px 0px 5px; }

#site-notice {
  width: 100%;
  color: maroon;
  bottom: 0;
  padding: 5px 0;
  position: absolute;
  position: fixed;
  font-size: 11px;
  background: url(../images/notice-bg.png) repeat;
  border-top: 1px solid maroon; }

.fb_link {
  color: #806600;
  font-size: 1.25em;
  text-decoration: none; }
