
	<div class="span-18 last" style="margin-bottom: 5px">
		<!-- Home page ad -->
		<!-- Begin: AdBrite, Generated: 2010-06-22 9:05:12  -->
		<script type="text/javascript">
			var AdBrite_Title_Color = 'E1771E';
			var AdBrite_Text_Color = '000000';
			var AdBrite_Background_Color = 'FFFF66';
			var AdBrite_Border_Color = 'C94093';
			var AdBrite_URL_Color = 'FF6FCF';
			try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
		</script>
		<div style="text-align: center">
			<span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=1672368&zs=3436385f3630&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
			<a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=1672368&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-banner.gif" style="background-color:#C94093;border:none;padding:0;margin:0;" alt="Your Ad Here" width="11" height="60" border="0" /></a></span>
		</div>
		<!-- End: AdBrite -->
	</div>

	<div class="span-24 last">
		<!-- Place the ad here -->
		<!-- Begin: AdBrite, Generated: 2010-06-20 5:20:15  -->
		<script type="text/javascript">
			var AdBrite_Title_Color = 'E1771E';
			var AdBrite_Text_Color = '000000';
			var AdBrite_Background_Color = 'FFFF66';
			var AdBrite_Border_Color = 'C94093';
			var AdBrite_URL_Color = 'C94093';
			try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
		</script>
		<div style="text-align: center">
			<span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=1670099&zs=3732385f3930&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
			<a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=1670099&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-leaderboard.gif" style="background-color:#C94093;border:none;padding:0;margin:0;" alt="Your Ad Here" width="14" height="90" border="0" /></a></span>
		</div>
	<!-- End: AdBrite -->
	</div>
